<h2>Create a new account</h2>

<%= form_for(@signup, url: signups_path) do |form| %>
  <% if @signup.errors.any? %>
  <ul>
    <% @signup.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <p>
    <%= form.label :company_name %>
    <%= form.text_field :company_name, autofocus: true %>
  </p>
  <p>
    <%= form.label :subdomain %>
    <%= form.text_field :subdomain %>
  </p>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </p>


  <%= form.submit "Create Account" %>

<% end %>