<% if @account.users.count.zero? %>
  This account currently does not have any users.
<% else %>
  This account has the following users:
  <table class="account-members">
    <thead>
      <tr>
        <td>Email:</td>
        <td>Account Role</td>
        <td>Joined:</td>
        <td>Sign in Count:</td>
        <td>Last Signed in</td>
        <td>Last Signed in IP</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <% @account.users.each do |user| %>
        <tr data-user-id="<%= user.id %>">
          <td><%= user.email %></td>
          <td><%= "Admin" if user.has_role? :admin, @account %></td>
          <td><%= user.created_at %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td>
            <%= link_to "User Details", admin_user_path(user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>