<h1>Accounts</h1>

<%= link_to "Create Account", new_admin_account_path %>

<table>
  <thead>
    <tr>
      <td>Company Name:</td>
      <td>Joined:</td>
      <td>Subdomain:</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.company_name %></td>  
        <td><%= account.created_at %></td>
        <td><%= account.subdomain %></td>
        <td>
          <%= link_to "View Details", admin_account_path(account) %>
          <%= link_to "Edit", edit_admin_account_path(account) %>
          <%= link_to "Delete", admin_account_path(account), method: :delete, data: { confirm: 'Are you sure?' }  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>