<%= form_for(@account, url: admin_accounts_path) do |f| %>
  <% if @account.errors.any? %>
  <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <p>
    <%= f.label :company_name %>
    <%= f.text_field :company_name, autofocus: true %>
  </p>
  <p>
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %>
  </p>

  <%= f.submit "Create Account" %>
<% end %>