<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <td>Company Name:</td>
      <td>Joined:</td>
      <td>Subdomain:</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @account.company_name %></td>  
      <td><%= @account.created_at %></td>
      <td><%= @account.subdomain %></td>
      <td>
        <%= link_to "Delete", admin_account_path(@account), method: :delete, data: { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'account_members' %>