<% if @user.accounts.count.zero? %>
  This user is not currently a member of any accounts.
<% else %>
  This user is a member of the following accounts:
  <% @user.accounts.each do |account| %>
    <table>
      <thead>
        <tr>
          <td>Company Name</td>
          <td>Date Created</td>
          <td>Number of Users</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= account.company_name %>
          <td><%= account.created_at %>
          <td><%= account.users.count %>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>