<h1>Users</h1>

<table>
  <thead>
    <tr>
      <td>Email:</td>
      <td>Joined:</td>
      <td>Sign in Count:</td>
      <td>Last Signed in</td>
      <td>Last Signed in IP</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>  
        <td><%= user.created_at %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td>
          <%= link_to "View Details", admin_user_path(user) %>
          <% unless user.has_role?(:admin) %>
            <%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>