  You have been invited to join <%= @invitation.account.company_name %> on 
  <%= Saasy.application_name %>
</p>
<p>
  <% accept_url = saasy.accept_invitation_url(@invitation, subdomain: @invitation.account.subdomain) %>
  <%= link_to  "Accept Invitation", accept_url %>
</p>