<!DOCTYPE html>
<html>
<head>
  <title>Saasy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "saasy/application", media: "all" %>
  <%= javascript_include_tag "saasy/application" %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", saasy.new_user_session_path %>
  <% end %>
  <%= link_to saasy.root_url(subdomain: nil) do %>
    <strong><%= Saasy.application_name %></strong>
  <% end %>
  <%= yield %>
</body>
</html>
