<div class='row'>
    <div class='col-md-7 content'>
      <h1><%= current_account.company_name %> Users</h1>
      <% if current_user.has_role? :admin, current_account %>
        <%= link_to "Invite User", saasy.new_invitation_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <table class='table table-striped' id='users'>
    <thead>
      <th>User</th>
      <th></th>
    </thead>
  
    <tbody>
      <% current_account.users.each do |user| %>
        <tr class="<%= "user_#{user.id}"%>">
          <td><%= user.email %></td>

          <td>
            <% if able_to_remove_user?(user) %>
              <%= link_to "Remove", user_path(user),
                    method: :delete,
                    data: { confirm: "Are you sure you want to remove this user?" },
                    class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>