<h2>Accepting an Invitation</h2>

<p>
  You are accepting an invitation to join the <%= current_account.company_name %> account.
</p>

<% if !user_signed_in? %>
  <%= render 'annonymous_accept', invitation: @invitation %>
<% else %>
  <%= render 'user_accept', invitation: @invitation %>
<% end %>