<% if @invitation.errors.any? %>
  <ul>
    <% @invitation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@invitation) do |invitation| %>
  <p>
    <%= invitation.label :email %><br>
    <%= invitation.email_field :email %>
  </p>
  <%= invitation.submit "Invite User" %>
<% end %>